// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
    background: asset_url('morocco.png');
    background-repeat: repeat;
}

.container a:hover {
  color: #f55e55;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}

.container input[type="submit"] {
   height: 30px;
   font-size: 13px;
   background-color: #f55e55;
   border: none;
   color: #fff;
 }

 .flex{
  display: flex;
  flex-wrap: wrap;
 }

.formMargin{
  margin-top: 10px;
  margin-bottom: 10px;
}